
.about__box {
    display: flex;
    justify-content: space-between;
    flex-direction: column;

}

.about {
    padding-bottom: 94px;
}

.about__title {
    color: #212121;
    text-align: center;
    font-family: Roboto;
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 1.08px;
}

.about__list {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-self: center;
    gap: 30px;

}
.about__picture {
    width: 370px;
    height: 294px;
    flex-shrink: 0;
    margin-top: 50px;
}