
.advent {
    padding-top: 94px;
    padding-bottom: 94px;
}

.pages__list__advent {
    display: flex;
    flex-direction: row;
    gap: 30px;
}

.advent__text {
    margin-top: 10px;
    color: #757575;
    font-family: Roboto;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    /* 171.429% */
    letter-spacing: 0.42px;
}
.advent__img {
    display: flex;
    width: 70px;
    height: 70px;


}

.advent__href {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 55px;
}
.pages__list>.pages__item>p {
    color: #757575;

    font-size: 14px;

    font-weight: 400;
    line-height: 24px;
    /* 6 */
    letter-spacing: 0.42px;
}
