.portfolio-buttons {
    display: flex;
    justify-content: center;
    align-self: center;
    margin-top: 94px;
    margin-bottom: 56px;
   
}
.main-button1 {
    color: #212121;
    text-align: center;
    font-size: 16px;
    font-weight: 500;
    line-height: 26px;
    letter-spacing: 0.48px;
    width: 103px;
    height: 38px;
    flex-shrink: 0;
    border-radius: 4px;
    border: #F5F4FA;
    background: #F5F4FA;
    width: 73px;
    height: 38px;
    flex-shrink: 0;
}

.main-button2 {
    color: #212121;
    text-align: center;
    font-size: 16px;
    font-weight: 500;
    line-height: 26px;
    letter-spacing: 0.48px;
    width: 103px;
    height: 38px;
    flex-shrink: 0;
    border-radius: 4px;
    border: #F5F4FA;
    background: #F5F4FA;
    width: 125px;
    height: 38px;
    flex-shrink: 0;
}

.main-button3 {
    color: #212121;
    text-align: center;
    font-size: 16px;
    font-weight: 500;
    line-height: 26px;
    letter-spacing: 0.48px;
    width: 103px;
    height: 38px;
    flex-shrink: 0;
    border-radius: 4px;
    border: #F5F4FA;
    background: #F5F4FA;
    width: 112px;
    height: 38px;
    flex-shrink: 0;
}

.main-button4 {
    color: #212121;
    text-align: center;
    font-size: 16px;
    font-weight: 500;
    line-height: 26px;
    letter-spacing: 0.48px;
    width: 103px;
    height: 38px;
    flex-shrink: 0;
    border-radius: 4px;
    border: #F5F4FA;
    background: #F5F4FA;

}

.main-button5 {
    color: #212121;
    text-align: center;
    font-size: 16px;
    font-weight: 500;
    line-height: 26px;
    letter-spacing: 0.48px;
    width: 103px;
    height: 38px;
    flex-shrink: 0;
    border-radius: 4px;
    border: #F5F4FA;
    background: #F5F4FA;
    width: 130px;
    height: 38px;
    flex-shrink: 0;
}


.main-button1:hover {
    background: #2196F3;
    color: #FFF;
}

.main-button2:hover {
    background: #2196F3;
    color: #FFF;
}

.main-button3:hover {
    background: #2196F3;
    color: #FFF;
}

.main-button4:hover {
    background: #2196F3;
    color: #FFF;
}

.main-button5:hover {
    background: #2196F3;
    color: #FFF;
}
