.portfolio__buttons {
    display: flex;
    justify-content: center;
    align-self: center;
    margin-top: 94px;
    margin-bottom: 56px;
   
}
@mixin button($button-color, $button-width){
    color: $button-color;
    text-align: center;
    font-size: 16px;
    font-weight: 500;
    line-height: 26px;
    letter-spacing: 0.48px;
    width: $button-width;
    height: 38px;
    flex-shrink: 0;
    border-radius:4px;
    border: #F5F4FA;
    background: #F5F4FA;
    flex-shrink: 0;
}
.main__button1 {
   @include button( $button-color: black, $button-width: 73px);
    
}

.main__button2 {
    @include button( $button-color: black, $button-width: 125px);
}

.main__button3 {
    @include button( $button-color: black, $button-width: 112px);
}

.main__button4 {
    @include button( $button-color: black, $button-width: 103px);
}

.main__button5 {
    @include button( $button-color: black, $button-width: 130px);
}


.main__button1:hover {
    background: #2196F3;
    color: #FFF;
}

.main__button2:hover {
    background: #2196F3;
    color: #FFF;
}

.main__button3:hover {
    background: #2196F3;
    color: #FFF;
}

.main__button4:hover {
    background: #2196F3;
    color: #FFF;
}

.main__button5:hover {
    background: #2196F3;
    color: #FFF;
}
